<div class="container-fluid"> <br><br><br>
    <div class="container">
        <div class="text-center">
            <h1 class="headline">Contact Us</h1>
        </div><br><br>
        <div class="row">
            <div class="col-md-6">
                <div id="Faqs" class="container">
                    <div class="text-center">
                        <h3 class="headline">Frequently Asked Questions (FAQs)</h3>
                        <br>
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button accordion-active-color" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                                        aria-controls="collapseOne">
                                        <i class="fa-solid fa-angles-right"> </i> Where is the Phoenix Hospital
                                        located?
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        284, 2nd Floor, Skyways, Above Zudio, Porwal Road, Kutwal Colony, Lohegaon,
                                        Maharashtra 411047.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed accordion-active-color" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                                        aria-controls="collapseTwo">
                                        <i class="fa-solid fa-angles-right"> </i> What Specialities are available at
                                        Phoenix Hospital,
                                        Lohegaon?
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        We offer a wide range of medical specialties including Medicine, General
                                        Surgery, Orthopedics,
                                        Oncology (Chemotherapy), Obstetrics &amp; Gynaecology, Pharmacy, Pathology
                                        (Laboratory), Cardiology,
                                        Pediatrics, Nephrology, Physiotherapy, ENT, Radiology, Urology, Pulmonology,
                                        Neurology, Diet &amp;
                                        Nutrition, ICU care and more.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed accordion-active-color" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        <i class="fa-solid fa-angles-right"> </i> What are the consultaion timing?
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        10 AM to 10 PM Monday to Sunday.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed accordion-active-color" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapsefour" aria-expanded="false"
                                        aria-controls="collapsefour">
                                        <i class="fa-solid fa-angles-right"> </i> Do I need a prior appointment for
                                        all services?
                                    </button>
                                </h2>
                                <div id="collapsefour" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Yes,you do need appointment for OPD consultations. In case of emergency you
                                        can reach out to our
                                        casualty 24x7.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed accordion-active-color" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapsefive" aria-expanded="false"
                                        aria-controls="collapsefive">
                                        <i class="fa-solid fa-angles-right"> </i>How do I book my appointment?
                                    </button>
                                </h2>
                                <div id="collapsefive" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        To book an appointment, you can call 90911 99696
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed accordion-active-color" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapsesix" aria-expanded="false"
                                        aria-controls="collapsesix">
                                        <i class="fa-solid fa-angles-right"> </i> Is Parking available ?
                                    </button>
                                </h2>
                                <div id="collapsesix" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Yes we have huge parking area of approx 7000sq.ft
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed accordion-active-color" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseseven" aria-expanded="false"
                                        aria-controls="collapseseven">
                                        <i class="fa-solid fa-angles-right"> </i> Does the hospital have cashless
                                        hospitalisation facility?
                                    </button>
                                </h2>
                                <div id="collapseseven" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Yes we do have all the insurance companies under GIPSA, TPA & Non- PPN on
                                        panel.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed accordion-active-color" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseeight" aria-expanded="false"
                                        aria-controls="collapseeight">
                                        <i class="fa-solid fa-angles-right"> </i> What should I bring when I
                                        visiting the hospital?
                                    </button>
                                </h2>
                                <div id="collapseeight" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        You can bring your ID proof, medical records, and any relevant documents
                                        related to your visit.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed accordion-active-color" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapsenine" aria-expanded="false"
                                        aria-controls="collapsenine">
                                        <i class="fa-solid fa-angles-right"> </i>Who will guide me on the duration
                                        and cost of treatment's?
                                    </button>
                                </h2>
                                <div id="collapsenine" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Our counseling team will guide about estimate as per course of you treatment
                                        advised by your
                                        attending consultant.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed accordion-active-color" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseten" aria-expanded="false"
                                        aria-controls="collapseten">
                                        <i class="fa-solid fa-angles-right"> </i> What if I have to cancel or
                                        reschedule my appointment?
                                    </button>
                                </h2>
                                <div id="collapseten" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        you can cancel or reschedule appointment by calling on our appointment desk
                                        No.90911 99696 an hour
                                        prior to your appointment.
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- <br><app-contact>
          <div class="container">
            <div class="card">
              <div class="card-body">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-6 scrolling-container">
                      <div class="scrolling-content"><img src="/assets/gallery/1.jpg" alt="" class="galleryimg"><br><img
                          src="/assets/gallery/2.jpg" alt="" class="galleryimg"><br><img src="/assets/gallery/3.jpg"
                          alt="" class="galleryimg"><br><img src="/assets/gallery/4.jpg" alt=""
                          class="galleryimg"><br><img src="/assets/gallery/5.jpg" alt="" class="galleryimg"><br><img
                          src="/assets/gallery/6.jpg" alt="" class="galleryimg"><br><img src="/assets/gallery/1.jpg"
                          alt="" class="galleryimg"><br><img src="/assets/gallery/2.jpg" alt=""
                          class="galleryimg"><br><img src="/assets/gallery/3.jpg" alt="" class="galleryimg"><br><img
                          src="/assets/gallery/4.jpg" alt="" class="galleryimg"><br><img src="/assets/gallery/5.jpg"
                          alt="" class="galleryimg"><br><img src="/assets/gallery/6.jpg" alt="" class="galleryimg"><br>
                      </div>
                    </div><br>
                    <div class="col-md-6 scrolling-container">
                      <div class="scrolling-contentp"><img src="/assets/gallery/7.jpg" alt=""
                          class="galleryimg"><br><img src="/assets/gallery/8.jpg" alt="" class="galleryimg"><br><img
                          src="/assets/gallery/9.jpg" alt="" class="galleryimg"><br><img src="/assets/gallery/10.jpg"
                          alt="" class="galleryimg"><br><img src="/assets/gallery/11.jpg" alt=""
                          class="galleryimg"><br><img src="/assets/gallery/12.jpg" alt="" class="galleryimg"><br><img
                          src="/assets/gallery/7.jpg" alt="" class="galleryimg"><br><img src="/assets/gallery/8.jpg"
                          alt="" class="galleryimg"><br><img src="/assets/gallery/9.jpg" alt=""
                          class="galleryimg"><br><img src="/assets/gallery/10.jpg" alt="" class="galleryimg"><br><img
                          src="/assets/gallery/11.jpg" alt="" class="galleryimg"><br><img src="/assets/gallery/12.jpg"
                          alt="" class="galleryimg"><br></div>
                    </div><br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </app-contact> -->

            </div><br>
            <div class="col-md-6">
                <p style="color: #fcb900; font-size: 25px; font-weight: bold;">We are always here
                    when you need us the most. Our hospital provides&nbsp;24/7 support&nbsp;to ensure timely care
                    and
                    assistance.</p>
                <div class="card cardcontact">
                    <div class="card-body">
                        <form novalidate="" class="ng-untouched ng-pristine ng-valid">
                            <div class="mb-3"><label for="name" class="form-label">Name</label><input type="text"
                                    id="name" placeholder="Enter your name" required="" class="form-control"></div>
                            <div class="mb-3"><label for="email" class="form-label">Email</label><input type="email"
                                    id="email" placeholder="Enter your email" required="" class="form-control">
                            </div>
                            <div class="mb-3"><label for="email" class="form-label">Contact </label><input type="email"
                                    id="email" placeholder="Enter your email" required="" class="form-control"></div>
                            <div class="mb-3"><label for="message" class="form-label">Message</label><textarea
                                    id="message" rows="3" placeholder="Your message here..." required=""
                                    class="form-control"></textarea></div><br>
                            <div class="text-center"><button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div><br><br>
            </div><br>
        </div>

        <br><br>
    </div>
</div>