<div class="bg-image">
    <!-- <img src="/assets/consultant.png" class="img-fluid" alt="Sample" /> -->
    <div class="mask">
        <div class="speacilalistdoctor">
            <p class="mb-0 drtext">
                <b> Insurance Empanelment</b>
            </p>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="text-center">
        <p class="insurancetext">INSURANCE EMPANELMENT</p>
        <div class="insurancepara">
            <p>We are proud to partner with leading insurance companies to make healthcare coverage simple, seamless,
                and
                stress-free for our patients. Through our trusted network of providers, we ensure a smooth claim
                process,
                cashless treatment options, and reliable support at every step. Our goal is to help patients focus on
                their
                recovery while we take care of the insurance coordination with efficiency and ease.</p>
        </div>
        <p class="insurancetext">Our Insurance Partners</p>

    </div>
    <br>
    <div class="row">
        <div class="col-md-2">
            <div class="card">
                <div class="">
                    <img src="/assets/insurance/29.png" alt="Insurance Company Logo image">
                </div>
            </div>
            <br>
        </div><br>
        <div class="col-md-2">
            <div class="card">
                <div class="">
                    <img src="/assets/insurance/30.png" alt="Insurance Company Logo image">
                </div>
            </div>
            <br>
        </div><br>

        <div class="col-md-2">
            <div class="card">
                <div class="card-body">
                    <img src="/assets/insurance/16.png" alt="Insurance Company Logo image">
                </div>
            </div>
            <br>
        </div><br>

        <div class="col-md-2">
            <div class="card">
                <div class="card-body">
                    <img src="/assets/insurance/1.png" alt="Insurance Company Logo image">
                </div>
            </div>
            <br>
        </div><br>
        <div class="col-md-2">
            <div class="card">
                <div class="card-body">
                    <img src="/assets/insurance/2.png" alt="Insurance Company Logo image">
                </div>
            </div>
            <br>
        </div><br>
        <div class="col-md-2">
            <div class="card">
                <div class="card-body">
                    <img src="/assets/insurance/3.png" alt="Insurance Company Logo image">
                </div>
            </div>
            <br>
        </div><br>
        <div class="col-md-2">
            <div class="card">
                <div class="card-body">
                    <img src="/assets/insurance/4.png" alt="Insurance Company Logo image">
                </div>
            </div>
            <br>
        </div><br>
        <div class="col-md-2">
            <div class="card">
                <div class="card-body">
                    <img src="/assets/insurance/5.png" alt="Insurance Company Logo image">
                </div>
            </div>
            <br>
        </div><br>
        <div class="col-md-2">
            <div class="card">
                <div class="card-body">
                    <img src="/assets/insurance/6.png" alt="Insurance Company Logo image">
                </div>
            </div>
            <br>
        </div><br>
        <div class="col-md-2">
            <div class="card">
                <div class="card-body">
                    <img src="/assets/insurance/7.png" alt="Insurance Company Logo image">
                </div>
            </div>
            <br>
        </div><br>
        <div class="col-md-2">
            <div class="card">
                <div class="card-body">
                    <img src="/assets/insurance/8.png" alt="Insurance Company Logo image">
                </div>
            </div>
            <br>
        </div><br>
        <div class="col-md-2">
            <div class="card">
                <div class="card-body">
                    <img src="/assets/insurance/9.png" alt="Insurance Company Logo image">
                </div>
            </div>
            <br>
        </div><br>
        <div class="col-md-2">
            <div class="card">
                <div class="card-body">
                    <img src="/assets/insurance/10.png" alt="Insurance Company Logo image">
                </div>
            </div>
            <br>
        </div><br>
        <div class="col-md-2">
            <div class="card">
                <div class="card-body">
                    <img src="/assets/insurance/11.png" alt="Insurance Company Logo image">
                </div>
            </div>
            <br>
        </div><br>
        <div class="col-md-2">
            <div class="card">
                <div class="card-body">
                    <img src="/assets/insurance/12.png" alt="Insurance Company Logo image">
                </div>
            </div>
            <br>
        </div><br>
        <div class="col-md-2">
            <div class="card">
                <div class="card-body">
                    <img src="/assets/insurance/13.png" alt="Insurance Company Logo image">
                </div>
            </div>
            <br>
        </div><br>
        <div class="col-md-2">
            <div class="card">
                <div class="card-body">
                    <img src="/assets/insurance/NationalInsurance.png" alt="Insurance Company Logo image">
                </div>
            </div>
            <br>
        </div><br>
        <div class="col-md-2">
            <div class="card">
                <div class="card-body">
                    <img src="/assets/insurance/15.png" alt="Insurance Company Logo image">
                </div>
            </div>
            <br>
        </div><br>
        <div class="col-md-2">
            <div class="card">
                <div class="card-body">
                    <img src="/assets/insurance/NAVI.png" alt="Insurance Company Logo image">
                </div>
            </div>
            <br>
        </div><br>
        <div class="col-md-2">
            <div class="card">
                <div class="card-body">
                    <img src="/assets/insurance/CareHealth.png" alt="Insurance Company Logo image">
                </div>
            </div>
            <br>
        </div><br>

        <div class="col-md-2">
            <div class="card">
                <div class="card-body">
                    <img src="/assets/insurance/17.png" alt="Insurance Company Logo image">
                </div>
            </div>
            <br>
        </div><br>
        <div class="col-md-2">
            <div class="card">
                <div class="card-body">
                    <img src="/assets/insurance/royal.jpg" alt="Insurance Company Logo image">
                </div>
            </div>
            <br>
        </div><br>
        <div class="col-md-2">
            <div class="card">
                <div class="card-body">
                    <img src="/assets/insurance/19.png" alt="Insurance Company Logo image">
                </div>
            </div>
            <br>
        </div><br>
        <div class="col-md-2">
            <div class="card">
                <div class="card-body">
                    <img src="/assets/insurance/20.png" alt="Insurance Company Logo image">
                </div>
            </div>
            <br>
        </div><br>
        <div class="col-md-2">
            <div class="card">
                <div class="card-body">
                    <img src="/assets/insurance/21.png" alt="Insurance Company Logo image">
                </div>
            </div>
            <br>
        </div><br>
        <div class="col-md-2">
            <div class="card">
                <div class="card-body">
                    <img src="/assets/insurance/22.png" alt="Insurance Company Logo image">
                </div>
            </div>
            <br>
        </div><br>
        <div class="col-md-2">
            <div class="card">
                <div class="card-body">
                    <img src="/assets/insurance/23.png" alt="Insurance Company Logo image">
                </div>
            </div>
            <br>
        </div><br>
        <div class="col-md-2">
            <div class="card">
                <div class="card-body">
                    <img src="/assets/insurance/24.png" alt="Insurance Company Logo image">
                </div>
            </div>
            <br>
        </div><br>
        <div class="col-md-2">
            <div class="card">
                <div class="card-body">
                    <img src="/assets/insurance/25.png" alt="Insurance Company Logo image">
                </div>
            </div>
            <br>
        </div><br>
        <div class="col-md-2">
            <div class="card">
                <div class="card-body">
                    <img src="/assets/insurance/26.png" alt="Insurance Company Logo image">
                </div>
            </div>
            <br>
        </div><br>
        <div class="col-md-2">
            <div class="card">
                <div class="card-body">
                    <img src="/assets/insurance/Zunogeneral.png" alt="Insurance Company Logo image">
                </div>
            </div>
            <br>
        </div><br>
        <div class="col-md-2">
            <div class="card">
                <div class="card-body">
                    <img src="/assets/insurance/28.png" alt="Insurance Company Logo image">
                </div>
            </div>
            <br>
        </div><br>
    </div>
</div>