<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container"><a href="#" class="navbar-brand"><img src="/assets/Logo.png" alt="Logo" width="100"
                class="d-inline-block align-text-top"></a><button type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>

        <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a aria-current="page" href="#home" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="#About" class="nav-link">About us</a></li>
                <li class="nav-item"><a href="#services" class="nav-link">Services</a></li>
                <li class="nav-item"><a href="#Facilities" class="nav-link">Facilities</a></li>
                <li class="nav-item"><a href="#Testimonials" class="nav-link">Testimonials</a></li>
                <li class="nav-item"><a href="#Contact" class="nav-link">Contact us</a></li>
            </ul>
            <form novalidate="" role="search" class="d-flex ng-untouched ng-pristine ng-valid">
                <a href="tel:+919049892423" style="color: #184799; text-decoration: none;"><i
                        class="fa-solid fa-phone-volume fa-lg"></i> 9091199696</a>
            </form>
        </div>
    </div>
</nav>
<br><br> -->

<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="/assets/Logo.png" alt="Logo"
                class="logos d-inline-block align-text-top"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" (click)="closeNavbar()">
                <li class="nav-item"><a aria-current="page" href="" [routerLink]="['/Home']" class="nav-link"
                        (click)="scroll()">Home</a>
                </li>
                <li class="nav-item"><a href="" [routerLink]="['/About']" class="nav-link" (click)="scroll()">About
                        us</a></li>
                <li class="nav-item"><a href="" [routerLink]="['/DoctorPanel']" class="nav-link"
                        (click)="scroll()">Doctor Panel</a></li>
                <li class="nav-item"><a href="" [routerLink]="['/Service']" class="nav-link" (click)="scroll()">Services</a></li>
                <li class="nav-item"><a href="" [routerLink]="['/Facilities']" class="nav-link"
                        (click)="scroll()">Facilities</a></li>
                <li class="nav-item"><a href="" [routerLink]="['/Testimonial']" class="nav-link" (click)="scroll()">Testimonials</a></li>
                <li class="nav-item"><a href="" [routerLink]="['/Contactus']" class="nav-link" (click)="scroll()">Contact us</a></li>
            </ul>
            <span class="navbar-text">
                <a href="https://wa.me/+919049892423" data-mdb-toggle="tooltip" data-mdb-placement="top"
                    aria-label="Read more about" target="_blank" title="Connect Through Whatsapp"
                    class="whatsapp-icon"><i class="fa-brands fa-whatsapp fa-lg icons"></i></a>

                <a href="tel:+919049892423" style="color: #184799; text-decoration: none;"><i
                        class="fa-solid fa-phone-volume fa-lg"></i> 9091199696</a>


            </span>
        </div>
    </div>
</nav> <br><br>