<br><br>
<div class="bg-image">
    <!-- <img src="/assets/aboutbanner.jpg" class="img-fluid" alt="Sample" /> -->
    <div class="mask">
        <div class="texts">
            <!-- <p class="text-white mb-0">Can you see me?</p> -->
            <p class="text-white headlines">Phoenix Hospital Lohegaon</p><br><br>
            <p class="textslider text-white">Phoenix Hospital is a modern, fully equipped, and patient-focused
                multispecialty hospital located in the heart of Lohegaon, Pune. Strategically located in Lohegaon,
                Pune, our hospital is built with the vision to provide world-class treatment at accessible costs right
                within your neighborhood.</p>
        </div>
    </div>
</div>


<!-- <div class="bg-image">
    <img src="/assets/aboutbanner.jpg" alt="" class="d-block w-100">
    <div class="mask" style="background-color: rgba(255, 248, 248, 0);">
        <div class="h-100">
            <div class="text-end">
                <h1 class="texts">Phoenix Hospital Lohegaon</h1><br>
                <p class="textslider">Best Multispeciality Hospital.</p>
            </div>
        </div>
    </div>
</div> -->

<div class="container">
    <div class="row">
        <div class="text-center"></div>
        <div class="col-md-6">
            <div class="container">
                <div>
                    <div class="card-body">
                        <br><br>
                        <img class="aboutimage" src="/assets/care.jpg" width="100%" alt="">
                    </div>
                </div>
            </div><br>
        </div><br>
        <div class="col-md-6">
            <!-- <h1 class="headline">About Us</h1><br>s -->
            <p class="abouthead">Phoenix Hospital - Your Trusted Health Partner in Lohegaon</p>
            <p>Phoenix Hospital is a newly established multispeciality healthcare center
                committed to delivering advanced medical care with compassion and integrity. Strategically located in
                Lohegaon, Pune, our hospital is built with the vision to provide world-class treatment at accessible
                costs
                right within your neighborhood. </p>
            <p>With a blend of modern infrastructure, experienced doctors, and round-the-clock
                medical support, we aim to set a new standard in community healthcare. <br> From
                primary consultations to critical care and complex surgeries, we ensure every patient receives
                personalized
                attention and transparent treatment.</p><br><br>
            <div>
                <div>
                    <div class="row">
                        <div class="col-6">
                            <div class="card cardvision">
                                <div class="text-center"><img src="/assets/Mission.png" width="100" alt="Mission Image"
                                        class="mission-image"></div>
                                <div class="card-body">
                                    <p class="vision">Our Mission</p>
                                    <p style="text-align: center;">To provide ethical, affordable, and quality
                                        healthcare that meets
                                        the needs of every individual and family.</p><br>
                                </div>
                            </div>
                        </div><br>
                        <div class="col-6">
                            <div class="card cardvision">
                                <div class="text-center"><img src="/assets/Vision.png" width="100" alt="Vision Image"
                                        class="vision-image"></div>
                                <div class="card-body">
                                    <p class="vision">Our Vision</p>
                                    <p style="text-align: center;">To be the most trusted healthcare provider in the
                                        region, known for
                                        our patient-centric approach and commitment to excellence.</p>
                                </div>
                            </div>
                        </div><br>
                    </div>
                </div>
            </div>
        </div><br>
    </div><br><br><br>
</div>