.cardvision {
    background-color: #fcb900;
    color: #184799;
    border: none;
    border-radius: 0%;
    height: 100%;
}

.card-header {
    background-color: none;
}

.mission-image {
    width: auto;
    height: auto;
    margin-top: -10%;
}

.vision-image {
    width: auto;
    height: auto;
    margin-top: -10%;
}

.mission-image:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.vision-image:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.vision {
    font-size: 1.5em;
    font-weight: 700;
    color: #184799;
    text-align: center;
}

.abouttext {
    font-size: 1.2em;
    /* color: #184799; */
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.abouthead {
    color: #184799;
    font-weight: 700;
    font-size: 1.5em;
}

#appoinment {
    background: linear-gradient(to right, #fcb900, #184799);
    color: white;
    padding: 2%;
}

.bg-image {
    background-image: url('/assets/aboutbanner.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.mask {
    padding: 25% 5% 15% 18%;
}

.textsdesktop {
    padding-left: 55%;
    margin-top: -20%;
}

.textsmobile {
    padding-left: 55%;
    margin-top: -20%;
    display: none;

    .textslider {
        font-size: small;
    }

    .headlines {
        font-size: medium;
    }
}

.headlines {
    font-size: 4em;
}

.textslider {
    font-size: larger;
}

.aboutimage {
    border-radius: 5%;
}

@media (max-width:439px) {
    .headlines {
        font-size: 15px;
    }

    .textslidermobile {
        font-size: small;
    }

    .textsmobile {
        display: block;
    }

    .textsdesktop {
        display: none;
    }

    .mask {
        padding: 25% 1% 1% 1%;
    }

}