<div class="mainservices">
      <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container-fluid">
          <div class="container">
            <div class="row">
              <div class="text-center">
                <h1 class="headline"> Our Services <br></h1>
              </div><br><br>
              <div class="text-center">
                <p>At Phoenix hospital, we are committed to delivering compassionate care
                  and advanced medical treatments across a wide range of specialties. Our team of experienced doctors,
                  surgeons, and healthcare staff work together to provide the best outcomes for every patient. </p>
              </div><br><br><br><br><br>
              <div class="row"><br><br>
                <div class="col-md-2">
                  <div class="card cardservice">
                    <div class="card-body">
                      <div class="text-center"><img src="/assets/services/se3.png" width="100"  alt=""><br><br>
                        <p class="service">Medicine</p>
                      </div>
                      <div class="cardservicetext"><br>
                        <p><span class="services">Medicine</span><br> Comprehensive diagnosis
                          and treatment for acute and chronic health conditions.</p>
                      </div>
                    </div>
                  </div><br>
                </div><br>
                <div class="col-md-2">
                  <div class="card cardservice">
                    <div class="card-body">
                      <div class="text-center"><img src="/assets/services/general.png" alt=""><br><br>
                        <p class="service"> General Surgery</p>
                      </div>
                      <div class="cardservicetext"><br>
                        <p><span class="services">General
                            Surgery</span><br> Expert surgical interventions for various
                          general and abdominal conditions.</p>
                      </div>
                    </div>
                  </div><br>
                </div><br>
                <div class="col-md-2">
                  <div class="card cardservice">
                    <div class="card-body">
                      <div class="text-center"><img src="/assets/services/se4.png" alt=""><br><br>
                        <p class="service">Orthopedics</p>
                      </div>
                      <div class="cardservicetext"><br>
                        <p><span class="services">Orthopedics</span><br> Advanced care for
                          bone, joint, and musculoskeletal issues. </p>
                      </div>
                    </div>
                  </div><br>
                </div><br>
                <div class="col-md-2">
                  <div class="card cardservice">
                    <div class="card-body">
                      <div class="text-center"><img src="/assets/services/oncology.png" alt=""><br><br>
                        <p class="service">Oncology (Chemotheraphy)</p>
                      </div>
                      <div class="cardservicetext"><br>
                        <p><span class="services">Oncology
                            (Chemotheraphy)</span><br> Safe and monitored chemotherapy
                          treatments for cancer management.</p>
                      </div>
                    </div>
                  </div><br>
                </div><br>
                <div class="col-md-2">
                  <div class="card cardservice">
                    <div class="card-body">
                      <div class="text-center"><img src="/assets/services/gynecology.png" alt=""><br><br>
                        <p class="service">Obstetrics &amp; Gynaecology</p>
                      </div>
                      <div class="cardservicetext"><br>
                        <p><span class="services">Obstetrics
                            &amp; Gynaecology</span><br>Complete women’s health services
                          including maternity and gynecological care.</p>
                      </div>
                    </div>
                  </div><br>
                </div><br>
                <div class="col-md-2">
                  <div class="card cardservice">
                    <div class="card-body">
                      <div class="text-center"><img src="/assets/services/medicine.png" alt=""><br><br>
                        <p class="service">Pharmacy</p>
                      </div>
                      <div class="cardservicetext"><br>
                        <p><span class="services">Pharmacy</span><br>Round-the-clock access to
                          prescribed medicines and emergency drugs.</p>
                      </div>
                    </div>
                  </div><br>
                </div><br>
                <div class="col-md-2">
                  <div class="card cardservice">
                    <div class="card-body">
                      <div class="text-center"><img src="/assets/services/labotory.png" alt=""><br><br>
                        <p class="service">Pathalogy (Labotory)</p>
                      </div>
                      <div class="cardservicetext"><br>
                        <p><span class="services">Pathalogy
                            (Labotory) </span><br>Accurate diagnostic testing and
                          reporting with in-house lab facilities.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="card cardservice">
                    <div class="card-body">
                      <div class="text-center"><img src="/assets/services/cardiology.png" alt=""><br><br>
                        <p class="service">Cardiology</p>
                      </div>
                      <div class="cardservicetext"><br>
                        <p><span class="services">Cardiology
                          </span><br>Diagnosis and treatment of heart-related conditions
                          with expert cardiologists.</p>
                      </div>
                    </div>
                  </div><br>
                </div><br>
                <div class="col-md-2">
                  <div class="card cardservice">
                    <div class="card-body">
                      <div class="text-center"><img src="/assets/services/pediatrics.png" alt=""><br><br>
                        <p class="service">Pediatrics </p>
                      </div>
                      <div class="cardservicetext"><br>
                        <p><span class="services">Pediatrics
                          </span><br>Specialized care for infants, children, and
                          adolescents.</p>
                      </div>
                    </div>
                  </div><br>
                </div><br>
                <div class="col-md-2">
                  <div class="card cardservice">
                    <div class="card-body">
                      <div class="text-center"><img src="/assets/services/nephrology.png" alt=""><br><br>
                        <p class="service">Nephrology </p>
                      </div>
                      <div class="cardservicetext"><br>
                        <p><span class="services">Nephrology
                          </span><br>Management of kidney-related diseases and
                          hypertension.</p>
                      </div>
                    </div>
                  </div><br>
                </div><br>
                <div class="col-md-2">
                  <div class="card cardservice">
                    <div class="card-body">
                      <div class="text-center"><img src="/assets/services/physiotheraphy.png" alt=""><br><br>
                        <p class="service">Physiotheraphy </p>
                      </div>
                      <div class="cardservicetext"><br>
                        <p><span class="services">Physiotheraphy </span><br> Personalized
                          rehabilitation for pain relief, mobility, and recovery.</p>
                      </div>
                    </div>
                  </div><br>
                </div><br>
                <div class="col-md-2">
                  <div class="card cardservice">
                    <div class="card-body">
                      <div class="text-center"><img src="/assets/services/ent.png" alt=""><br><br>
                        <p class="service">ENT </p>
                      </div>
                      <div class="cardservicetext"><br>
                        <p><span class="services">ENT
                          </span><br>Treatment for ear, nose, and throat disorders with
                          advanced equipment.</p>
                      </div>
                    </div>
                  </div><br>
                </div><br>
                <div class="col-md-2">
                  <div class="card cardservice">
                    <div class="card-body">
                      <div class="text-center"><img src="/assets/services/se1.png" alt=""><br><br>
                        <p class="service">Radiology </p>
                      </div>
                      <div class="cardservicetext"><br>
                        <p><span class="services">Radiology
                          </span><br>High-precision imaging services including X-ray,
                          ultrasound, and more.</p>
                      </div>
                    </div>
                  </div><br>
                </div><br>
                <div class="col-md-2">
                  <div class="card cardservice">
                    <div class="card-body">
                      <div class="text-center"><img src="/assets/services/urology.png" alt=""><br><br>
                        <p class="service">Urology </p>
                      </div>
                      <div class="cardservicetext"><br>
                        <p><span class="services">Urology
                          </span><br>Diagnosis and treatment of urinary and male
                          reproductive system disorders.</p>
                      </div>
                    </div>
                  </div><br>
                </div><br>
                <div class="col-md-2">
                  <div class="card cardservice">
                    <div class="card-body">
                      <div class="text-center"><img src="/assets/services/pulmonology.png" alt=""><br><br>
                        <p class="service">Pulmonology </p>
                      </div>
                      <div class="cardservicetext"><br>
                        <p><span class="services">Pulmonology </span><br> Specialized care for
                          lung and respiratory conditions.</p>
                      </div>
                    </div>
                  </div><br>
                </div><br>
                <div class="col-md-2">
                  <div class="card cardservice">
                    <div class="card-body">
                      <div class="text-center"><img src="/assets/services/neurology.png" alt=""><br><br>
                        <p class="service">Neurology </p>
                      </div>
                      <div class="cardservicetext"><br>
                        <p><span class="services">Neurology
                          </span><br>Diagnosis and management of brain, spine, and
                          nervous system disorders.</p>
                      </div>
                    </div>
                  </div><br>
                </div><br>
                <div class="col-md-2">
                  <div class="card cardservice">
                    <div class="card-body">
                      <div class="text-center"><img src="/assets/services/diet.png" alt=""><br><br>
                        <p class="service">Diet &amp; Nutrition </p>
                      </div>
                      <div class="cardservicetext"><br>
                        <p><span class="services">Diet &amp;
                            Nutrition </span><br> Expert dietary plans tailored to
                          medical needs and lifestyle.</p>
                      </div>
                    </div>
                  </div><br>
                </div><br>
                <div class="col-md-2">
                  <div class="card cardservice">
                    <div class="card-body">
                      <div class="text-center"><img src="/assets/services/se2.png" alt=""><br><br>
                        <p class="service">ICU</p>
                      </div>
                      <div class="cardservicetext"><br>
                        <p><span class="services">ICU
                          </span><br> Lorem ipsum dolor, sit amet consectetur adipisicing
                          elit.</p>
                      </div>
                    </div>
                  </div><br>
                </div><br>
              </div>
            </div><br>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container-fluid">
          <div class="container"><br>
            <div class="text-center">
              <h1 class="headlines">सोयी व सुविधा <br></h1>
            </div><br><br><br>
            <div class="row">
              <div class="col-md-6">
                <div class="headlinemarathi"> उपलब्ध सुविधा </div><br>
                <div class="row">
                  <div class="col-md-6">
                    <p class="marathitext"><i class="bi bi-back"></i> मेडिसिन - डायबिटीस आणि उच्च रक्तदाब</p>
                    <p class="marathitext"><i class="bi bi-back"></i> पोटाचे व आतड्यांचे विकार</p>
                    <p class="marathitext"><i class="bi bi-back"></i> स्त्रीरोग व प्रसृती विभाग</p>
                    <p class="marathitext"><i class="bi bi-back"></i> बाल विकार व लसीकरण</p>
                    <p class="marathitext"><i class="bi bi-back"></i> अस्थिरोग व स्पोट्स इंज्युरी</p>
                    <p class="marathitext"><i class="bi bi-back"></i> त्वचारोग</p>
                    <p class="marathitext"><i class="bi bi-back"></i> ह्दयविकार</p>
                  </div><br>
                  <div class="col-md-6">
                    <p class="marathitext"><i class="bi bi-back"></i> मेंदू विकार</p>
                    <p class="marathitext"><i class="bi bi-back"></i> कर्करोग व किमोथेरपी</p>
                    <p class="marathitext"><i class="bi bi-back"></i> किडनी व मूत्राशयाचे विकार</p>
                    <p class="marathitext"><i class="bi bi-back"></i> श्वसन विकार</p>
                    <p class="marathitext"><i class="bi bi-back"></i> कान, नाक व घसा</p>
                    <p class="marathitext"><i class="bi bi-back"></i> लाईफस्टाईल आणि डेफिशियन्सी डिसऑर्डर</p>
                    <p class="marathitext"><i class="bi bi-back"></i> फिजिओथेरपी</p>
                  </div><br>
                </div>
              </div><br>
              <div class="col-md-6">
                <div class="headlinemarathi"> ऑपरेशन सुविधा </div><br>
                <div class="row">
                  <div class="col-md-6">
                    <p class="marathitext"><i class="bi bi-back"></i> ऑर्थोपेडिक शस्त्रक्रिया</p>
                    <p class="marathitext"><i class="bi bi-back"></i> सांधेरोपण व मणक्यांच्या शस्त्रक्रिया</p>
                    <p class="marathitext"><i class="bi bi-back"></i> लॅप्रोस्कॉपिक सर्जरी</p>
                    <p class="marathitext"><i class="bi bi-back"></i> प्लास्टिक सर्जरी</p>
                    <p class="marathitext"><i class="bi bi-back"></i> मुतखडा व प्रोस्टेट ग्रंथीच्या शस्त्रक्रिया</p>
                  </div><br>
                  <div class="col-md-6">
                    <p class="marathitext"><i class="bi bi-back"></i> आतड्यांच्या शस्त्रक्रिया</p>
                    <p class="marathitext"><i class="bi bi-back"></i> प्रसूती व गर्भाशयाचे शस्त्रक्रिया</p>
                    <p class="marathitext"><i class="bi bi-back"></i> अपेंडिक्स, हर्निया व अल्सर</p>
                    <p class="marathitext"><i class="bi bi-back"></i> मुळव्याध / फिशर / fistula शस्त्रक्रिया</p>
                    <p class="marathitext"><i class="bi bi-back"></i> कान,नाक,घसा शस्त्रक्रिया</p>
                  </div><br>
                </div>
              </div><br>
            </div><br>
          </div>
        </div>
      </div>
    </div><button type="button" data-bs-target="#carouselExample" data-bs-slide="next"
      class="carousel-control-next"><span aria-hidden="true" class="spanss"><b>{{ buttonText }}</b></span></button>
  </div>
</div>