<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 scrolling-container">
                        <div class="scrolling-content">
                            <img class="galleryimg" src="/assets/gallery/1.jpg" alt=""> <br>
                            <img class="galleryimg" src="/assets/gallery/2.jpg" alt=""> <br>
                            <img class="galleryimg" src="/assets/gallery/3.jpg" alt=""> <br>
                            <img class="galleryimg" src="/assets/gallery/4.jpg" alt=""> <br>
                            <img class="galleryimg" src="/assets/gallery/5.jpg" alt=""> <br>
                            <img class="galleryimg" src="/assets/gallery/6.jpg" alt=""> <br>

                            <img class="galleryimg" src="/assets/gallery/13.jpg" alt=""> <br>
                            <img class="galleryimg" src="/assets/gallery/14.jpg" alt=""> <br>

                            <!-- Duplicate images for seamless looping -->
                            <img class="galleryimg" src="/assets/gallery/1.jpg" alt=""> <br>
                            <img class="galleryimg" src="/assets/gallery/2.jpg" alt=""> <br>
                            <img class="galleryimg" src="/assets/gallery/3.jpg" alt=""> <br>
                            <img class="galleryimg" src="/assets/gallery/4.jpg" alt=""> <br>
                            <img class="galleryimg" src="/assets/gallery/5.jpg" alt=""> <br>
                            <img class="galleryimg" src="/assets/gallery/6.jpg" alt=""> <br>

                            <img class="galleryimg" src="/assets/gallery/13.jpg" alt=""> <br>
                            <img class="galleryimg" src="/assets/gallery/14.jpg" alt=""> <br>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-6 scrolling-container">
                        <div class="scrolling-contentp">
                            <img class="galleryimg" src="/assets/gallery/7.jpg" alt=""> <br>
                            <img class="galleryimg" src="/assets/gallery/8.jpg" alt=""> <br>
                            <img class="galleryimg" src="/assets/gallery/9.jpg" alt=""> <br>
                            <img class="galleryimg" src="/assets/gallery/10.jpg" alt=""> <br>
                            <img class="galleryimg" src="/assets/gallery/11.jpg" alt=""> <br>
                            <img class="galleryimg" src="/assets/gallery/12.jpg" alt=""> <br>

                            <img class="galleryimg" src="/assets/gallery/15.jpg" alt=""> <br>
                            <img class="galleryimg" src="/assets/gallery/16.jpg" alt=""> <br>

                            <!-- Duplicate images for seamless looping -->
                            <img class="galleryimg" src="/assets/gallery/7.jpg" alt=""> <br>
                            <img class="galleryimg" src="/assets/gallery/8.jpg" alt=""> <br>
                            <img class="galleryimg" src="/assets/gallery/9.jpg" alt=""> <br>
                            <img class="galleryimg" src="/assets/gallery/10.jpg" alt=""> <br>
                            <img class="galleryimg" src="/assets/gallery/11.jpg" alt=""> <br>
                            <img class="galleryimg" src="/assets/gallery/12.jpg" alt=""> <br>

                            <img class="galleryimg" src="/assets/gallery/15.jpg" alt=""> <br>
                            <img class="galleryimg" src="/assets/gallery/16.jpg" alt=""> <br>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>