<div class="containerf">
    <br><br>
    <div class="text-center">
        <h1 class="headline">Facilities</h1>
    </div><br><br>
    <div class="container">
        <!-- <div class="row">

            <div class="col-md-3">
                <div class="text-center">
                    <div>
                        <img class="bg--circle" alt="Winning the Way Forward" loading="lazy" width="40%" height="40%"
                            decoding="async" data-nimg="1" srcset="/assets/Facilities/GeneralWard (2).jpg"
                            src="/assets/Facilities/GeneralWard (2).jpg" style="color: transparent;">
                    </div>
                    <div class="card-body rewads">
                        <br>
                        <h5>General Ward</h5>                        
                    </div>
                </div>
                <br>
            </div><br>


            <div class="col-md-3">
                <div class="text-center">
                    <div>
                        <img class="bg--circle" alt="Winning the Way Forward" loading="lazy" width="40%" height="40%"
                            decoding="async" data-nimg="1" srcset="/assets/Facilities/icu.jpg"
                            src="/assets/Facilities/icu.jpg" style="color: transparent;">
                    </div>
                    <div class="card-body rewads">
                        <br>
                        <h5>Intensive Care Unit (ICU)</h5>                        
                    </div>
                </div><br>
            </div><br>


            <div class="col-md-3">
                <div class="text-center">
                    <div>
                        <img class="bg--circle" alt="Winning the Way Forward" loading="lazy" width="40%" height="40%"
                            decoding="async" data-nimg="1" srcset="/assets/Facilities/SemiPrivate Room AC & NonAC.jpg"
                            src="/assets/Facilities/SemiPrivate Room AC & NonAC.jpg" style="color: transparent;">
                    </div>
                    <div class="card-body rewads">
                        <br>
                        <h5>SemiPrivate Room AC & NonAC</h5>                        
                    </div>
                </div><br>
            </div><br>


            <div class="col-md-3">
                <div class="text-center">
                    <div>
                        <img class="bg--circle" alt="Winning the Way Forward" loading="lazy" width="40%" height="40%"
                            decoding="async" data-nimg="1" srcset="/assets/Facilities/Free WI-FI.jpg"
                            src="/assets/Facilities/Free WI-FI.jpg" style="color: transparent;">
                    </div>
                    <div class="card-body rewads">
                        <br>
                        <h5>Free WI-FI</h5>                        
                    </div>
                </div><br>
            </div><br>


            <div class="col-md-3">
                <div class="text-center">
                    <div>
                        <img class="bg--circle" alt="Winning the Way Forward" loading="lazy" width="40%" height="40%"
                            decoding="async" data-nimg="1" srcset="/assets/Facilities/DeluxRooms.jpg"
                            src="/assets/Facilities/DeluxRooms.jpg" style="color: transparent;">
                    </div>
                    <div class="card-body rewads">
                        <br>
                        <h5>Private Room AC & Non-AC</h5>
                        
                    </div>
                </div><br>
            </div><br>


            <div class="col-md-3">
                <div class="text-center">
                    <div>
                        <img class="bg--circle" alt="Winning the Way Forward" loading="lazy" width="40%" height="40%"
                            decoding="async" data-nimg="1" srcset="/assets/Facilities/Stretcher_Lift.jpg"
                            src="/assets/Facilities/Stretcher_Lift.jpg" style="color: transparent;">
                    </div>
                    <div class="card-body rewads">
                        <br>
                        <h5>Stretcher Lift</h5>

                        
                    </div>
                </div><br>
            </div><br>


            <div class="col-md-3">
                <div class="text-center">
                    <div>
                        <img class="bg--circle" alt="Winning the Way Forward" loading="lazy" width="40%" height="40%"
                            decoding="async" data-nimg="1" srcset="/assets/Facilities/Delux Rooms.jpg"
                            src="/assets/Facilities/Delux Rooms.jpg" style="color: transparent;">
                    </div>
                    <div class="card-body rewads">
                        <br>
                        <h5>Delux Rooms</h5>

                        
                    </div>
                </div><br>
            </div><br>


            <div class="col-md-3">
                <div class="text-center">
                    <div>
                        <img class="bg--circle" alt="Winning the Way Forward" loading="lazy" width="40%" height="40%"
                            decoding="async" data-nimg="1" srcset="/assets/Facilities/Corporate.jpg"
                            src="/assets/Facilities/Corporate.jpg" style="color: transparent;">
                    </div>
                    <div class="card-body rewads">
                        <br>
                        <h5>Corporate Health CheckUps</h5>

                        
                    </div>
                </div><br>
            </div><br>


            <div class="col-md-3">
                <div class="text-center">
                    <div>
                        <img class="bg--circle" alt="Winning the Way Forward" loading="lazy" width="40%" height="40%"
                            decoding="async" data-nimg="1" srcset="/assets/Facilities/OPD.jpg"
                            src="/assets/Facilities/OPD.jpg" style="color: transparent;">
                    </div>
                    <div class="card-body rewads">
                        <br>
                        <h5>OPD 24 x 7</h5>

                        
                    </div>
                </div><br>
            </div><br>


            <div class="col-md-3">
                <div class="text-center">
                    <div>
                        <img class="bg--circle" alt="Winning the Way Forward" loading="lazy" width="40%" height="40%"
                            decoding="async" data-nimg="1" srcset="/assets/Facilities/Skilled & Co-opeartive Staff.jpg"
                            src="/assets/Facilities/Skilled & Co-opeartive Staff.jpg" style="color: transparent;">
                    </div>
                    <div class="card-body rewads">
                        <br>
                        <h5>Skilled & Co-opeartive Staff</h5>

                        
                    </div>
                </div><br>
            </div><br>


            <div class="col-md-3">
                <div class="text-center">
                    <div>
                        <img class="bg--circle" alt="Winning the Way Forward" loading="lazy" width="40%" height="40%"
                            decoding="async" data-nimg="1" srcset="/assets/Facilities/Operation Theater (2).jpg"
                            src="/assets/Facilities/Operation Theater (2).jpg" style="color: transparent;">
                    </div>
                    <div class="card-body rewads">
                        <br>
                        <h5>Well Equipped Operation Theater</h5>

                        
                    </div>
                </div><br>
            </div><br>
            <br>

            <div class="col-md-3">
                <div class="text-center">
                    <div>
                        <img class="bg--circle" alt="Winning the Way Forward" loading="lazy" width="40%" height="40%"
                            decoding="async" data-nimg="1" srcset="/assets/Facilities/Operation Theater (3).jpg"
                            src="/assets/Facilities/Operation Theater (3).jpg" style="color: transparent;">
                    </div>
                    <div class="card-body rewads">
                        <br>
                        <h5>Fast & Hassle-Free Operations</h5>

                        
                    </div>
                </div><br>
            </div><br>
        </div> -->

        <!-- <hr>
        <div class="row">
            <div class="col-md-3">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/assets/Facilities/General Ward.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">General Ward</h5>
                                <p class="card-text">
                                
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div><br>

            <div class="col-md-3">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/assets/Facilities/icu.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Intensive Care Unit (ICU) </h5>
                                <p class="card-text">

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div><br>


            <div class="col-md-3">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/assets/Facilities/DeluxRooms.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">SemiPrivate Room AC & NonAC</h5>
                                <p class="card-text">
                                
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div><br>


            <div class="col-md-3">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/assets/Facilities/General Ward.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Free WI-FI</h5>
                                <p class="card-text">

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div><br>


            <div class="col-md-3">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/assets/Facilities/General Ward.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Private Room AC & Non-AC</h5>
                                <p class="card-text">
                                
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div><br>


            <div class="col-md-3">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/assets/Facilities/General Ward.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Stretcher Lift</h5>
                                <p class="card-text">
                                
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div><br>


            <div class="col-md-3">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/assets/Facilities/General Ward.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Delux Rooms</h5>
                                <p class="card-text">
                                
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div><br>


            <div class="col-md-3">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/assets/Facilities/General Ward.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Corporate Health CheckUps</h5>
                                <p class="card-text">
                                
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div><br>


            <div class="col-md-3">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/assets/Facilities/General Ward.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">OPD 24 x 7</h5>
                                <p class="card-text">
                                
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div><br>


            <div class="col-md-3">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/assets/Facilities/General Ward.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Skilled & Co-opeartive Staff</h5>
                                <p class="card-text">
                                
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div><br>


            <div class="col-md-3">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/assets/Facilities/General Ward.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Well Equipped Operation Theater</h5>
                                <p class="card-text">
                                   
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div><br>


            <div class="col-md-3">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/assets/Facilities/General Ward.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Fast & Hassle-Free Operations</h5>
                                <p class="card-text">
                                
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div><br>



        </div> -->

        <!-- <div class="row">

            <div class="col-md-3">
                <div class="cardfacilities">
                    <div class="card-body">
                        <div class="text-center">
                            <h4>General Ward</h4>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <br>

            <div class="col-md-3">
                <div class="cardfacilities">
                    <div class="card-body">
                        <div class="text-center">
                            <h4>Intensive Care Unit (ICU)</h4>
                        </div>
                    </div>
                </div><br>
            </div>
            <br>

            <div class="col-md-3">
                <div class="cardfacilities">
                    <div class="card-body">
                        <div class="text-center">
                            <h4>Semi-Private Room AC & Non-AC</h4>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <br>

            <div class="col-md-3">
                <div class="cardfacilities">
                    <div class="card-body">
                        <div class="text-center">
                            <h4>Free WI-FI</h4>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <br>

            <div class="col-md-3">
                <div class="cardfacilities">
                    <div class="card-body">
                        <div class="text-center">
                            <h4>Private Room AC & Non-AC</h4>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <br>

            <div class="col-md-3">
                <div class="cardfacilities">
                    <div class="card-body">
                        <div class="text-center">
                            <h4>Stretcher Lift</h4>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <br>

            <div class="col-md-3">
                <div class="cardfacilities">
                    <div class="card-body">
                        <div class="text-center">
                            <h4>Delux Rooms</h4>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <br>

            <div class="col-md-3">
                <div class="cardfacilities">
                    <div class="card-body">
                        <div class="text-center">
                            <h4>Corporate Health Check Ups</h4>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <br>

            <div class="col-md-3">
                <div class="cardfacilities">
                    <div class="card-body">
                        <div class="text-center">
                            <h4>OPD 24 x 7</h4>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <br>

            <div class="col-md-3">
                <div class="cardfacilities">
                    <div class="card-body">
                        <div class="text-center">
                            <h4>Skilled & Co-opeartive Staff</h4>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <br>

            <div class="col-md-3">
                <div class="cardfacilities">
                    <div class="card-body">
                        <div class="text-center">
                            <h4>Well Equipped Operation Theater</h4>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <br>

            <div class="col-md-3">
                <div class="cardfacilities">
                    <div class="card-body">
                        <div class="text-center">
                            <h4> Fast & Hassle-Free Operations</h4>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <br>

        </div> -->

        <div class="row">

            <div class="col-md-4">
                <div class="container-diagnostics ">
                    <img decoding="async" src="/assets/Facilities/newgenarlward.jpg" alt="Speciality Icon"
                        class="specialty-img">
                    <!-- <img decoding="async" src="/assets/Facilities/GeneralWard (2).jpg" alt="Speciality Icon"
                        class="specialty-img"> -->
                    <div class="container-diagnostics-title">General Ward</div>
                    <div class="overlay">
                        <div class="diagnostics-title"> General Ward </div>
                    </div>
                </div><br>
            </div><br>

            <div class="col-md-4">
                <div class="container-diagnostics ">
                    <img decoding="async" src="/assets/Facilities/icu.jpg" alt="Speciality Icon" class="specialty-img">
                    <div class="container-diagnostics-title">Intensive Care Unit (ICU)</div>
                    <div class="overlay">
                        <div class="diagnostics-title"> Intensive Care Unit (ICU) </div>
                    </div>
                </div><br>
            </div><br>

            <div class="col-md-4">
                <div class="container-diagnostics ">
                    <img decoding="async" src="/assets/Facilities/SemiPrivate Room AC & NonAC.jpg" alt="Speciality Icon"
                        class="specialty-img">
                    <div class="container-diagnostics-title">Semi Private Room AC & NonAC</div>
                    <div class="overlay">
                        <div class="diagnostics-title"> Semi Private Room AC & NonAC</div>
                    </div>
                </div><br>
            </div><br>


            <div class="col-md-4">
                <div class="container-diagnostics ">
                    <img decoding="async" src="/assets/Facilities/Free WI-FI.jpg" alt="Speciality Icon"
                        class="specialty-img">
                    <div class="container-diagnostics-title">Free WI-FI</div>
                    <div class="overlay">
                        <div class="diagnostics-title">Free WI-FI</div>
                    </div>
                </div><br>
            </div><br>

            <div class="col-md-4">
                <div class="container-diagnostics">
                    <img decoding="async" src="/assets/Facilities/DeluxRooms.jpg"
                        alt="Speciality Icon" class="specialty-img">
                    <div class="container-diagnostics-title"><span>Private Room AC & Non-AC</span></div>
                    <div class="overlay">
                        <div class="diagnostics-title"> Private Room AC & Non-AC </div>
                    </div>
                </div><br>
            </div><br>

            <div class="col-md-4">
                <div class="container-diagnostics"><img decoding="async" src="/assets/Facilities/Stretcher_Lift.jpg"
                        alt="Speciality Icon" class="specialty-img">
                    <div class="container-diagnostics-title"><span>Stretcher Lift</span></div>
                    <div class="overlay">
                        <div class="diagnostics-title">Stretcher Lift </div>

                    </div>
                </div><br>
            </div><br>

            <div class="col-md-4">
                <div class="container-diagnostics"><img decoding="async" src="/assets/Facilities/Delux Rooms.jpg"
                        alt="Speciality Icon" class="specialty-img">
                    <div class="container-diagnostics-title"><span>Delux Rooms</span></div>
                    <div class="overlay">
                        <div class="diagnostics-title">Delux Rooms</div>

                    </div>
                </div><br>
            </div><br>

            <div class="col-md-4">
                <div class="container-diagnostics"><img decoding="async"
                        src="/assets/Facilities/Corporate.jpg" alt="Speciality Icon"
                        class="specialty-img">
                    <div class="container-diagnostics-title"><span>Corporate Health Checkups</span></div>
                    <div class="overlay">
                        <div class="diagnostics-title"> Corporate Health Checkups </div>
                    </div>
                </div><br>
            </div><br>


            <div class="col-md-4">
                <div class="container-diagnostics"><img decoding="async" src="/assets/Facilities/newgenarlward.jpg"
                        alt="Speciality Icon" class="specialty-img">
                    <div class="container-diagnostics-title"><span>OPD 24 x 7</span></div>
                    <div class="overlay">
                        <div class="diagnostics-title"> OPD 24 x 7 </div>

                    </div>
                </div><br>
            </div><br>


            <div class="col-md-4">
                <div class="container-diagnostics"><img decoding="async"
                        src="/assets/Facilities/Skilled & Co-opeartive Staff.jpg" alt="Speciality Icon"
                        class="specialty-img">
                    <div class="container-diagnostics-title"><span>Skilled & Co-opeartive Staff</span></div>
                    <div class="overlay">
                        <div class="diagnostics-title"> Skilled & Co-opeartive Staff </div>

                    </div>
                </div><br>
            </div><br>

            <div class="col-md-4">
                <div class="container-diagnostics"><img decoding="async"
                        src="/assets/Facilities/Operation Theater (2).jpg" alt="Speciality Icon" class="specialty-img">
                    <div class="container-diagnostics-title"><span>
                            Well Equipped Operation Theater</span></div>
                    <div class="overlay">
                        <div class="diagnostics-title"> Well Equipped Operation Theater </div>

                    </div>
                </div><br>
            </div><br>

            <div class="col-md-4">
                <div class="container-diagnostics">
                    <img decoding="async" src="/assets/Facilities/OperationTheater.jpg" alt="Speciality Icon"
                        class="specialty-img">
                    <div class="container-diagnostics-title"><span>Fast & Hassle-Free Operations</span></div>
                    <div class="overlay">
                        <div class="diagnostics-title"> Fast & Hassle-Free Operations</div>

                    </div>
                </div><br>
            </div><br>

        </div>

    </div>
    <br>
</div>