<footer>
  <!-- <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <h2 style="text-align: start;">Contact Us</h2><br>
        <div style="text-align: start;">
          <p style="font-size: large;"><i class="fa-solid fa-location-dot fa-lg"></i><span style="padding-left: 1%;">
              284, 2nd Floor, Skyways, Above Zudio,</span><br> Porwal Road, Kutwal
            Colony, Lohegaon, Maharashtra 411047. </p>
          <p style="font-size: large;"><i class="fa-solid fa-phone-volume fa-lg"></i> 9091199696 / 9049892423</p>
          <p style="font-size: large;"><i class="fa-solid fa-envelope fa-lg"></i> myphoenixhospitals@gmail.com</p>
        </div><br>
        <div class="text-start"><a href="https://www.facebook.com/myphoenixhospital/"
            aria-label="Read more in Social media" target="_blank"><i
              class="fa-brands fa-facebook fa-2xl icons"></i></a><a href="https://www.instagram.com/myphoenixhospital/"
            aria-label="Read more in Social media" target="_blank"><i
              class="fa-brands fa-instagram fa-2xl icons"></i></a><a href="https://www.linkedin.com/"
            aria-label="Read more in Social media" target="_blank"><i
              class="fa-brands fa-linkedin fa-2xl icons"></i></a></div><br>
      </div><br>

      <div class="col-md-4 displaymobile">
        <h2 style="text-align: start;">Services</h2><br>
        <div class="row">
          <div class="col-6">
            <menu>
              <li>Medicine</li>
              <li>General Surgery</li>
              <li>Orthopedics</li>
              <li>Oncology (Chemotheraphy)</li>
              <li>Obstetrics &amp; Gynaecology</li>
              <li>Pharmacy</li>
              <li>Pathalogy (Labotory)</li>
              <li>Cardiology</li>
              <li>Pediatrics</li>
            </menu>
          </div>
          <div class="col-6">
            <menu>
              <li>Nephrology</li>
              <li>Physiotheraphy</li>
              <li>ENT</li>
              <li>Radiology</li>
              <li>Urology</li>
              <li>Pulmonology</li>
              <li>Neurology</li>
              <li>Diet &amp; Nutrition</li>
              <li>ICU</li>
            </menu>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 displaylaptop">
        <h2 style="text-align: start;">Services</h2>
        <menu>
          <li style="padding-top: 4%;">Medicine</li>
          <li>General Surgery</li>
          <li>Orthopedics</li>
          <li>Oncology (Chemotheraphy)</li>
          <li>Obstetrics &amp; Gynaecology</li>
          <li>Pharmacy</li>
          <li>Pathalogy (Labotory)</li>
          <li>Cardiology</li>
          <li>Pediatrics</li>
        </menu>
      </div><br>
      <div class="col-lg-2 col-md-3 displaylaptop"><br><br>
        <menu>
          <li>Nephrology</li>
          <li>Physiotheraphy</li>
          <li>ENT</li>
          <li>Radiology</li>
          <li>Urology</li>
          <li>Pulmonology</li>
          <li>Neurology</li>
          <li>Diet &amp; Nutrition</li>
          <li>ICU</li>
        </menu>
      </div><br>

      <div class="col-lg-4 col-md-12">
        <h2 style="text-align: start;">Location</h2><br><a href="https://maps.app.goo.gl/L8LSvkWFHwPnCX7TA"
          target="_blank"><img src="/assets/map.jpg" alt="google map" width="100%"></a><br>
      </div><br>

      <div class="col-md-12 text-start"><br>
        <hr>
        <p>© 2025 Phoenix Hospital. All rights reserved. <span style="float: right;">Powered by : <a
              href="https://fourthdm.com/" target="_blank" aria-label="Read more for Powered Company"><img
                src="/assets/4thdmlogo.png" width="100" alt=""></a></span></p>
      </div>
    </div>
  </div> -->



  <div class="container-fluid footerdata">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <img src="/assets/footerlogo.png" alt="Logo" width="100%">
        <p style="text-align: justify;">Phoenix Hospital is one of the best surgical hospitals in Lohegaon Pune located
          on Porwal Road near Viman
          Nagar providing emergency care advanced surgery ICU facilities diagnostics and specialist consultations.</p>
      </div><br>

      <div class="col-lg-3 col-md-6">
        <h2 style="text-align: start;">Contact Us</h2><br>
        <div style="text-align: start;">
          <p style="font-size: large;"><i class="fa-solid fa-location-dot fa-lg"></i><span style="padding-left: 1%;">
              284, 2nd Floor, Skyways, Above Zudio,</span><br> Porwal Road, Kutwal
            Colony, Lohegaon, Maharashtra 411047. </p>
          <p style="font-size: large;"><i class="fa-solid fa-phone-volume fa-lg"></i> 9091199696 </p>
          <p style="font-size: large;"><i class="fa-solid fa-envelope fa-lg"></i> myphoenixhospitals@gmail.com</p>
        </div><br>
        <div class="text-start"><a href="https://www.facebook.com/myphoenixhospital/"
            aria-label="Read more in Social media" target="_blank"><i
              class="fa-brands fa-facebook fa-2xl icons"></i></a><a href="https://www.instagram.com/myphoenixhospital/"
            aria-label="Read more in Social media" target="_blank"><i
              class="fa-brands fa-instagram fa-2xl icons"></i></a><a href="https://www.linkedin.com/"
            aria-label="Read more in Social media" target="_blank"><i
              class="fa-brands fa-linkedin fa-2xl icons"></i></a></div><br>
      </div><br>

        <div class="col-md-6 displaymobile">
        <h2 style="text-align: start;">Services</h2>
        <div class="row">
          <div class="col-6">
            <menu>
              <li>Medicine</li>
              <li>General Surgery</li>
              <li>Orthopedics</li>
              <li>Oncology (Chemotheraphy)</li>
              <li>Obstetrics &amp; Gynaecology</li>
              <li>Pharmacy</li>
              <li>Pathalogy (Labotory)</li>
              <li>Cardiology</li>
              <li>Pediatrics</li>
            </menu>
          </div>
          <div class="col-6">
            <menu>
              <li>Nephrology</li>
              <li>Physiotheraphy</li>
              <li>ENT</li>
              <li>Radiology</li>
              <li>Urology</li>
              <li>Pulmonology</li>
              <li>Neurology</li>
              <li>Diet &amp; Nutrition</li>
              <li>ICU</li>
            </menu>
          </div>
        </div>
      </div>

      <!-- <div class="col-lg-2 col-md-3 displaylaptop">
        <h2 style="text-align: start;">Services</h2>
        <menu>
          <li style="padding-top: 4%;">Medicine</li>
          <li>General Surgery</li>
          <li>Orthopedics</li>
          <li>Oncology (Chemotheraphy)</li>
          <li>Obstetrics &amp; Gynaecology</li>
          <li>Pharmacy</li>
          <li>Pathalogy (Labotory)</li>
          <li>Cardiology</li>
          <li>Pediatrics</li>
        </menu>
      </div><br>

      <div class="col-lg-2 col-md-3 displaylaptop"><br><br>
        <menu>
          <li>Nephrology</li>
          <li>Physiotheraphy</li>
          <li>ENT</li>
          <li>Radiology</li>
          <li>Urology</li>
          <li>Pulmonology</li>
          <li>Neurology</li>
          <li>Diet &amp; Nutrition</li>
          <li>ICU</li>
        </menu>
      </div><br> -->

      <div class="col-lg-3 displaylaptop">
         <h2 style="text-align: start;">Services</h2><br>
        <div class="row">
          <div class="col-6">
            <menu>
              <li>Medicine</li>
              <li>General Surgery</li>
              <li>Orthopedics</li>
              <li>Oncology (Chemotheraphy)</li>
              <li>Obstetrics &amp; Gynaecology</li>
              <li>Pharmacy</li>
              <li>Pathalogy (Labotory)</li>
              <li>Cardiology</li>
              <li>Pediatrics</li>
            </menu>
          </div>
          <div class="col-6">
            <menu>
              <li>Nephrology</li>
              <li>Physiotheraphy</li>
              <li>ENT</li>
              <li>Radiology</li>
              <li>Urology</li>
              <li>Pulmonology</li>
              <li>Neurology</li>
              <li>Diet &amp; Nutrition</li>
              <li>ICU</li>
            </menu>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
          <h2 style="text-align: start;">Location</h2><br><a href="https://maps.app.goo.gl/L8LSvkWFHwPnCX7TA"
          target="_blank"><img src="/assets/map.jpg" alt="google map" width="100%"></a><br>
      </div><br>

       <div class="col-md-12 text-start"><br>
        <hr>
        <p>© 2025 Phoenix Hospital. All rights reserved. <span style="float: right;">Powered by : <a
              href="https://fourthdm.com/" target="_blank" aria-label="Read more for Powered Company"><img
                src="/assets/4thdmlogo.png" width="100" alt=""></a></span></p>
      </div>

    </div>
  </div>  <a href="https://wa.me/+919091199696" data-mdb-toggle="tooltip" data-mdb-placement="top" aria-label="Read more about"
    target="_blank" title="Connect Through Whatsapp" class="whatsapp-icon"><i
      class="fa-brands fa-whatsapp fa-2xl icons"></i></a><a href="" aria-label="Read More" class="topBtn"><i
      class="fa-regular fa-circle-up fa-2xl icons" style="color: #fcb900;"></i></a>

</footer>